# Nordic Semiconductor nRF54LM20A and nRF54LM20B MCUs

# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF54LM20A_CPUFLPR || SOC_NRF54LM20B_CPUFLPR

config NUM_IRQS
	default 287

config SHELL_REMOTE_CLI_EP_NAME
	default "shell_remote_flpr"

config SHELL_REMOTE_CLI_COPY_RO_STRINGS
	default n

endif # SOC_NRF54LM20A_CPUFLPR || SOC_NRF54LM20B_CPUFLPR
